@import "../assets/styles/shared.scss";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: $color-dark;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  &__wrapper {
    min-height: 100vh;
  }

  &__inner {
    @include main-inner(1366px);
  }

  &__img {
    width: 100%;
    max-width: 1366px;
    height: 200px;
    background-image: url('https://picsum.photos/1196/200');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
