@import "../../../assets/styles/shared.scss";

.posts {
  margin-top: 32px;
  
  &__rating {
    margin-bottom: 32px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__card {
    margin: 0 24px 24px 0;
  }
}
